/*
* ========== CSS STYLE FOR LANDING PAGE WIKI.JS ==========
*
*
* CSS FOR DELETE INITIAL HOMEPAGE
* GLOBALES
* HEADER
* CARDS
* SHORTSCUTS AND NEW DOCS
* HELP
* POPULAR DOCS
*
*/

/* ====================== CSS FOR DELETE INITIAL HOMEPAGE ====================== */

.v-application--wrap {
  min-height: 0vh !important;
}
.v-main {
  min-height: 0vh !important;
}
.grid-list-xl {
  display: none !important;
}
.v-footer {
  display: none !important;
  min-height: 0vh !important;
}
.v-navigation-drawer {
  display: none !important;
  min-height: 0vh !important;
}
.page-shortcuts-card {
  display: none !important;
  min-height: 0vh !important;
}
.page-header-section {
  display: none !important;
  min-height: 0vh !important;
}
.page-toc-card {
  display: none !important;
  min-height: 0vh !important; 
}
.page-author-card {
  display: none !important;
  min-height: 0vh !important;   
}




/* ====================== GLOBALES ====================== */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700,800,900|Rubik:400,600,700"); 

body {
  color: #383F42;
  font-family: "Poppins", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px;
}



/* ====================== HEADER ====================== */

/* Proprietes */
.header {
  display: block;
  height: 45vh;
  margin-top: 100px;
}

.title-color {
  color: #008690;
}

.header-title {
  font-size: 60px;
  line-height: 70px;
}

.header-title, .header-description, .header-description-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-description {
  font-size: 20px;
  margin-top: 20px;
}

.header-description-button {
  font-size: 20px;
  margin-top: 20px;
  color: #008690;
}

.header-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-button {
  border: 1px solid #333;
  background-color: #fff;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin: 25px;
  padding: 20px;
  text-decoration: none;
  color: #333
}

.header-button:hover {
  border: 1px solid #008690;
  background-color: #008690;
  color: aliceblue;
}

/* Responsive */

/* Phone */
@media (max-width: 415px) {
  .header-title {
    font-size: 40px;
    line-height: 45px;
  }

  .header-description {
    font-size: 13px;
  }

  .header-button {
    font-size: 15px;
    margin: 15px;
  }
}


/* Tablet */
@media (max-width: 768px) {
  .header-button {
    font-size: 15px;
    margin: 9px;
    padding: 16px;
  }

  .header {
    height: 65vh;
  }
}


/* ====================== END HEADER ====================== */




/* ====================== CARDS ====================== */


/* Proprietes */
.link-card-section {
  height: 30vh;
  display: block;
}

.link-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link-card-block {
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #333;
  margin: 20px;
  width: 11%;
  text-decoration: none;
}

.link-card-block:hover {
  border: 1px solid #008690;
  background-color: #008690;
  color: aliceblue;
}

.link-card-block:hover .link-card-icon {
  color: white;
}

.link-card-block:hover .link-card-title {
  color: white;
}

.link-card-block:hover .link-card-description {
  color: white;
}

.link-card {
  text-decoration: none;
}

.link-card-icon {
  font-size: 35px;
  color: #008690;
}

.card__icon {
  font-size: 75px;
  color: #333;
}

.link-card-title {
  margin-top: 10px;
  font-size: 22px;
  color: #333;
}

.link-card-description {
  font-size: 12px;
  color: #000;
}

/* Responsive */

/* Tablet */
@media (max-width: 768px) {
  .link-card-section {
    height: 45vh;
  }

  .link-card-block {
    width: auto;
  }

}

/* Phone */
@media (max-width: 415px) {
  .link-card-section {
    height: 75vh;
  }
  .link-card-block {
    width: 100%;
  }
}

/* ====================== ENDS CARDS ====================== */





/* ======================  SHORTSCUTS AND NEW DOCS ====================== */

/* Proprietes */
.shortcuts-new-docs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 45vh;
}

.shortcuts-section {
  width: 33%;
  margin-right: 65px;
}


.new-docs-section {
  border: 1px solid black;
  padding: 40px;
  height: min-content;
  margin-left: 65px;
}

.shortcuts-card {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  margin: 15px;
  flex: 1;
  text-decoration: none;
  color: #333;
}

.shortcuts-card:hover {
  border: 1px solid #008690;
  background-color: #008690;
  color: aliceblue;
}

.shortcuts-card:hover .shortcuts-icon {
  color: white;
}

.shortcuts-block {
  display: flex;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.shortcuts-icon {
  color: #008690;
  font-size: 30px;
  margin-top: 15px;
}

.title {
  margin-top: 10px;
}

.shortcuts-new-docs-title {
  margin-bottom: 10px;
  font-size: 35px;
}

.link-icon {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}

.link {
  text-decoration: underline;
  color: grey;
}

.new-docs-list-link {
  list-style-type: none;
  padding: 0;
}

.new-docs-link {
  margin-bottom: 10px;
}


/* Responsive */

/* Small PC */
@media (max-width: 1071px) {
  .shortcuts-section {
    width: auto;
  }
  .shortcuts-new-docs-container {
    height: 85vh;
  }
}

/* Phone */
@media (max-width: 415px) {
  .shortcuts-new-docs-container {
    height: 100vh;
  }

  .shortcuts-new-docs-title {
    margin-left: 10px;
    font-size: 30px;
  }

  .shortcuts-section {
    width: 100%;
  }

  .new-docs-section {
    width: 80%;
}
}

/* ====================== END SHORTSCUTS AND NEW DOCS ====================== */




/* ====================== HELP ====================== */

/* Proprietes */
.help-container {
  height: 45vh;
}


.link-help {
  background-color: #008690;
  color: aliceblue;
  padding: 13px;
  text-decoration: none;
}

.container-help {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.help-title {
  text-align: center;
  font-size: 35px;

}

.subtitle-help {
  text-align: center;
}

.help-icon {
  color: #008690;
  font-size: 45px;
}

/* Responsive */

/* Phone */
@media (max-width: 415px) {
  .help-container {
    height: 90vh;
  }
}

/* ====================== END HELP ====================== */






/* ====================== POPULAR DOCS ====================== */

/* Proprietes */

.popular-docs-title {
  width: 50%;
  margin-left: 215px;
}



.popular-docs-tabs {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-docs-tabs .state {
  position: absolute;
  left: -10000px;
}

.tab {
  border: 1px solid #333;
  margin: 15px;
}

.popular-docs-tabs .flex-tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
}

.popular-docs-tabs .flex-tabs .tab {
  flex-grow: 1;
  max-height: 40px;
}

.popular-docs-tabs .flex-tabs .panel {
  background-color: #fff;
  padding: 20px;
  min-height: 300px;
  display: none;
  width: 100%;
  flex-basis: auto;
}

.popular-docs-tabs .tab {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  background-color: #fff;
  cursor: hand;
  cursor: pointer;
  text-align: center;
}

.popular-docs-tabs .tab:hover {
  background-color: #fff;
}

#tab-one:checked~.tabs #tab-one-label,
#tab-two:checked~.tabs #tab-two-label,
#tab-three:checked~.tabs #tab-three-label,
#tab-four:checked~.tabs #tab-four-label,
#tab-five:checked~.tabs #tab-five-label,
#tab-six:checked~.tabs #tab-six-label {
  background-color: #fff;
  cursor: default;
  background-color: #008690;
  color: aliceblue;
  border: 0px
}

#tab-one:checked~.tabs #tab-one-panel,
#tab-two:checked~.tabs #tab-two-panel,
#tab-three:checked~.tabs #tab-three-panel,
#tab-four:checked~.tabs #tab-four-panel,
#tab-five:checked~.tabs #tab-five-panel,
#tab-six:checked~.tabs #tab-six-panel {
  display: block;
}

.title-docs {
  font-size: 35px;
}

.button-tabs {
  border: 1px solid #333;
  background-color: #fff;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin: 25px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  color: #333;
  justify-content: center;
  flex: 1;
}

.container-link-tabs {
  display: flex;
  flex-wrap: wrap;
}



/* Responsive */
@media (max-width: 600px) {
  .flex-tabs {
    flex-direction: column;
  }

  .flex-tabs .tab {
    background: #fff;
    border-bottom: 1px solid #ccc;
  }

  .flex-tabs .tab:last-of-type {
    border-bottom: none;
  }

  .flex-tabs #tab-one-label {
    order: 1;
  }

  .flex-tabs #tab-two-label {
    order: 3;
  }

  .flex-tabs #tab-three-label {
    order: 5;
  }

  .flex-tabs #tab-four-label {
    order: 7;
  }

  .flex-tabs #tab-five-label {
    order: 9;
  }

  .flex-tabs #tab-six-label {
    order: 11;
  }

  .flex-tabs #tab-one-panel {
    order: 2;
  }

  .flex-tabs #tab-two-panel {
    order: 4;
  }

  .flex-tabs #tab-three-panel {
    order: 6;
  }

  .flex-tabs #tab-four-panel {
    order: 8;
  }

  .flex-tabs #tab-five-panel {
    order: 10;
  }

  .flex-tabs #tab-six-panel {
    order: 12;
  }

  #tab-one:checked~.tabs #tab-one-label,
  #tab-two:checked~.tabs #tab-two-label,
  #tab-three:checked~.tabs #tab-three-label,
  #tab-four:checked~.tabs #tab-four-label,
  #tab-five:checked~.tabs #tab-five-label,
  #tab-six:checked~.tabs #tab-six-label {
    border-bottom: none;
  }

  #tab-one:checked~.tabs #tab-one-panel,
  #tab-two:checked~.tabs #tab-two-panel,
  #tab-three:checked~.tabs #tab-three-panel,
  #tab-four:checked~.tabs #tab-four-panel,
  #tab-five:checked~.tabs #tab-five-panel,
  #tab-six:checked~.tabs #tab-six-panel {
    border-bottom: 1px solid #ccc;
  }
}
/* Tablet */
@media (max-width: 820px) {

  .popular-docs-title {
    width: auto;
    margin-left: 110px;
  }
}

/* Phone */
@media (max-width: 415px) {
  .popular-docs-title {
    width: 95%;
    margin-left: 26px;
  }

  .popular-docs-tabs {
    margin: 0px;
  }
}

/* ====================== ENDS POPULAR DOCS ====================== */